// _canvas.scss

#canvas_container{
  margin: 10px auto;
  // position: relative;
  height: 95vh;
  width: 100%;
}

.contact_text{
  z-index: 999;
}
.text_box{
  z-index: 998;
}
.show{
  z-index: 997;
}
