.hero-unit{
  width: 300px;
  background-color: #eee;
  border-radius: 6px;
  margin-top: 150px;
}
.box{
  width: 40%;
  float: left;
  background-color: #eee;
  padding-top: 50px;
  min-height: 85vh;
  &:first-of-type{
    background-color: #808182;
  }
}
.contact{
  background-color: #808182;
  border-radius: 20px;
  color: white;
  margin-top: 8%;
  transition:
    color 1s,
    background 1s .25s;
  -webkit-transition:
    color 1s,
    background 1s .25s;

  a.contact_link {
    text-align: center;
    display: block;
    color: inherit;
    transition: background-color 0.15s linear;
    -webkit-transition: background-color 0.15s linear;
  }
  &:hover{
    cursor: pointer;
    background-color: white;
    color: #808182;
  }
}

#deleteContactImg{
  height: 7%;
  width: 5%;
  position: absolute;
  top: 1em;
  left: 0.375em;
}

.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999998;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

  transition: opacity 0.35s ease;
  -webkit-transition: opacity 0.35s ease;
  & .popUpContainer{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    -webkit-transition: top 0.35s ease;

    /*to center use 1/2 length of element as top and left margin*/
    margin-left: -250px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px
      rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px
      rgba(0,0,0,0.1);
    z-index: 9999998;
  }

  h2{
    padding: 0.5em;
    text-align: center;
    color: black;
    margin: 0;
  }
  article{
    height: 300px;
    background-color: gray;
    color: white;
  }
  a.closePopUp{
    font-family: verdana;
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  }
  &:hover{
    color: #c0392b;
  }

  /* when popup is targeted by #popup link */
  &:target{
    opacity: 1;
    top: 0;

    & .popUpContainer{
        top: 50px;
        transition: top 0.35s ease;
        -webkit-transition: top 0.35s ease;
    }
  }
  & .closePopUpOutSide{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999997;
  }
}

@media  (max-width: 796px) {
  .popup .popUpContainer{
    width: 90%;
    max-width: none;
    left: 5%;
    margin-left: 0;
  }
  .popup ul{
    padding: 0 1em 0 1em;
  }
  .popup:target .popUpContainer{
    top: 25px;
    transition: top 0.35s ease;
    -webkit-transition: top  0.35s ease;
  }
}
