<div class="module">
  <div id="logo_filler"></div>
  <div class="logo_ring ring_1"></div>
  <div class="logo_ring ring_2"></div>
  <div class="logo_ring ring_3"></div>
  <div id="logo_title">
    <h1 id="title">KONNEKT</h1>
  </div>
    <div class="module about">
      <h3>A Simple Way To Keep Track of Who You've Met</h3>
      <h4>And When to Contact Them Again</h4>
      <ul>
        <li>1 - Enter your new connection's information</li>
        <li>2 - Select the week you met</li>
        <li>3 - Decide how often you would like to contact them</li>
        <li>4 - Check your radar to see who you need to message</li>
        <li>5 - Stay Connected!</li>
      </ul>
    </div>
</div>
