

    <!-- Form to register new contacts-->
    <div class="hero-unit">
      <form id="contact">
        <div class="field">
          <label for="contact-name">Contact Name</label>
          <input name="contact-name" placeholder="Enter Name Here" type="text" required>
        </div>
        <div class="field">
          <label for="contact-name">Contact Email</label>
          <input name="contact-name" placeholder="Enter Contact Email Here" type="text" required pattern=".+@.+\..+">
        </div>
        <div class="field">
          <label for="year-week">Week you met</label>
          <input type="week" name="year-week" required>
        </div>
        <div class="field">
          <label for="freqeuncy">How often would you like to stay in touch?</label>
          <input type="number" name="frequency" min="1" max="36" placeholder="In weeks" required>
        </div>
        <button class="login-button" id="save-contact" type="submit">Save</button>
      </form>
    </div>
