<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web dev</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="navbar">
      <ul class="nav" id="topnav">
        <li id="logo"><a href="radar.html"><b>KNKT</b></a></li>
        <li><a href="home.html">Home</a></li>
        <li><a href="radar.html">Radar</a></li>
        <li><a href="index.html">Login</a></li>
        <li><a href="#">Contact</a></li>
        <li class="icon"><a href="#">☰</a></li>
      </ul>
    </div>

    <!-- Form to register new contacts-->
    <div class="hero-unit">
      <form id="contact">
        <div class="field">
          <label for="contact-name">Contact Name</label>
          <input name="contact-name" placeholder="Enter Name Here" type="text" required>
        </div>
        <div class="field">
          <label for="contact-name">Contact Email</label>
          <input name="contact-name" placeholder="Enter Contact Email Here" type="text" required pattern=".+@.+\..+">
        </div>
        <div class="field">
          <label for="year-week">Week you met</label>
          <input type="week" name="year-week" required>
        </div>
        <div class="field">
          <label for="freqeuncy">How often would you like to stay in touch?</label>
          <input type="number" name="frequency" min="1" max="36" placeholder="In weeks" required>
        </div>
        <button class="login-button" id="save-contact" type="submit">Save</button>
      </form>
    </div>

    <footer>
      <p>&copy; Ocean Evers-Peete, 2016</p>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/handlebars/handlebars.js"></script>
    <script src="bower_components/pathjs/path.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
