

    <!-- Form to register new contacts-->
    <div class="module box">
      <form id="contact">
        <div class="field">
          <label for="contact-name">Contact Name</label>
          <input name="contact-name" id="contact-name" placeholder="Enter Name Here" type="text" required>
        </div>
        <div class="field">
          <label for="contact-email">Contact Email</label>
          <input name="contact-email" id="contact-email" placeholder="Enter Contact Email Here" type="text" required pattern=".+@.+\..+">
        </div>
        <div class="field">
          <label for="year-week">Week you met</label>
          <input type="week" id="year-week" name="year-week" required>
        </div>
        <div class="field">
          <label for="freqeuncy">How often would you like to stay in touch?</label>
          <input type="number" id="frequency" name="frequency" min="1" max="36" placeholder="In weeks" required>
        </div>
        <button class="square-button" id="save-contact-button" type="submit">Save</button>
      </form>
    </div>
    <div class="module box" id="contacts_list">
      <div class="contact">
        <p>Name</p>
      </div>
    </div>
    <!-- PopUp modal-->
    <aside class="popup" id="popUp">
      <div class="popUpContainer">
        <header>
          <a href="#/home" id="deleteContact"><img src="images/assets/trash.png" id="deleteContactImg" alt="Delete" /></a>
          <a href="#/home" class="closePopUp">X</a>
          <h2>name</h2>
        </header>
        <article id="contact_data">
        </article>
      </div>
      <a href="#/home" class="closePopUpOutSide"></a>
    </aside>
